---
import Layout from "../layouts/Layout.astro";

import {Button} from "@/components/ui/button";
---

<Layout>
	<section id="hero" class="mt-16 space-y-8 text-center">
		<h1 class="text-3xl font-extrabold">
			Effortless Invoice Management<br />Save Time, Get Paid Faster!
		</h1>
		<a href="/register">
			<Button client:load className="cursor-pointer">
				Start right now!
			</Button>
		</a>
	</section>
</Layout>
